html {
    background-color: #e6e9e9;
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 3em auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
    text-align: center;
}

h1 {
    color:#369;
}

h2 {
    margin-top: 1.3em;
    color:rgb(234, 59, 132);
}

a {
    color: #0083e8; 
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

.note {
    color:#ccc;
    text-align: center;
}

#refresh {
    margin:auto;
    background:rgb(234, 59, 132);
    color:#fff;
    padding:1em;
    font-size:1.3em;
    border:0;
    display:block;
    cursor:pointer;
}

#result {
    text-align: center;
    background:rgb(245, 233, 149);
    padding:1em;
    font-size:1.5em;
}

.by {
    font-size:0.8em;
    color:#882;
}

